<!DOCTYPE html>
<html lang="en">
  <head>
    {{>headlinks}}
  </head>
  <body>
    <div class="error-container">
      <img src="/images/page-not-found.png" alt="">    
      <h2>Sorry! We couldn't find that page</h2>  
      <button><a href="/">Go Back</a></button>
    </div>
  </body>
</html>
