<!DOCTYPE html>
<html lang="en">
  <head>
    {{>headlinks}}
  </head>
  <body>
  {{>nav}} 

  <div class="main-container">
    <div class="inner-container">
      <h2>Welcome to Weather App</h2>
      <p>With extreme weather on the rise, prepare yourself for storms, hurricanes & wildfires</p>
      <button><a href="/weather">Learn More</a></button>
    </div>
    <div class="image-container">
      <img src="/images/weather.png" alt="">
    </div>
  </div>
  {{>footer}}
  </body>

  
</html>
